.Projects a {
	text-decoration: none;
	color: black;
}

.Projects p {
	margin: 14px 0;
	font-size: 14px;
}

.Projects h2 {
  display: block;
  letter-spacing: 2px;
	color: #3a3a3a;
	padding-bottom: 16px;
	margin-top: 90px;
	margin-bottom: 8px;
}
